body{
    color:2E2F42 ;
    background-color:white;
}
a{
    text-decoration:none;
    color:inherit;
}
p{
    color: #434455;
}
.tittel {
    text-align: center;
}
.nav {}

.nav-logo {
    font-family: realRaleway italic, sans-serif;
}

.nav-logo_text {
    color: #4D5AE5;
}

.nav-list {}

.contact-link:hover,
.nav-link:hover{
    color: #4D5AE5;
}

.nav-contact {}

.order {
    background-color: #2E2F42;
}

.order-tittel {
    color: #FFFFFF;
}

.order-btn {
    color: #FFFFFF;
    background-color:#4D5AE5;
}
.order-btn:hover {
 
    background-color:#404BBF;
}

.features {}

.features_list {}

.features_item {}

.features_subtittel {}

.features_text {}

.team { 
    background-color:#F4F4FD;
}

.our-tittel {}

.our-list {}

.our-img {}

.our-subtittel {}

.our-text {}

.portfolio {}

.potfolio-titttel {}

.portfolio-list {}

.potfolio-item {}

.potfolio-img {}

.portfolio-subtittel {}

.potfolio-text {}

.footer { 
    background-color: #2E2F42;
}

.footer-link {
    color: #FFFFFF;
}

.footer-text {
    color: #F4F4FD;
}
