body{
    color: #2E2F42;
    font-Family: Roboto;
    font-Weight: Regular;
    Size: 16px ;
    Line-Height:24px;
 
}
p{
    color:#434455;
}
a{  
    color:currentColor;
    letter-spacing: 4%;
    text-decoration: none;
}
button{
    cursor: pointer;
    font-size: inherit;
    font-family: inherit; 
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 4%;
    background-color:#4D5AE5;
    color:#FFFFFF;

}
button:hover{
    background-color:#404bbf;
}
a:hover{
    color:#404bbf;
}   

.nav_logo{
    text-transform: uppercase;
    font-family:"Raleway",sans-serif;
    font-size: bold;
}
h3{
    font-size: medium;
}
.nav_logo_color{
    color: #4D5AE5;
}
.nav_list li:hover{ 
    color: #404bbf;
   
}
.nav_studio:active{
    color: #4D5AE5;
    text-decoration: underline;
}

.order_service{
    font-size: medium;
    line-height: normal;
    text-align: center;
    background-color:#2E2F42;}
.our_team{
    background-color:#F4F4FD
}
.section_1_tittel>li>h2{
    font-weight: 500;
}
.tittel{
    letter-spacing: 10%;
    line-height: 40%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
